#detalles-pokemon {
	border-style: solid;
	border-color: red;
	border-top-width: 10px;
	border-right-width: 1em;
	border-bottom-width: 10px;
	border-left-width: 1em;
	background-color: blanchedalmond;
}
#imagen-pokemon {
	background-color: black;
}
