#detalles-pokemon {
	border-style: solid;
	border-color: red;
	border-top-width: 50px;
	border-right-width: 1em;
	border-bottom-width: 10px;
	border-left-width: 1em;
	background-color: blanchedalmond;
	margin: 0 auto
}
#imagen-pokemon {
	background-color: black;
	
}

#pokedex {
	background-color: rgb(86, 133, 194);
	 text-align:center;

}
#enunciado {
	text-align: center;
}
.oculto {
	display: none;
}
